<!DOCTYPE html>
<html>

   <head>
      <title>TimeStamp API | Free Code Camp</title>
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>get a timeStamp</h1>
         <h2>           usage:</h2>
        

<h3> input:       </h3>

<quote>https://gettimestamp.glitch.me/[human readable date| unix date in seconds]
</quote>
<h4>examples: 
        </h4>
<ul>
  <li><a href="https://gettimestamp.glitch.me/December%2015,%202015">https://gettimestamp.glitch.me/December%2015,%202015</a></li>
  <li><a href="https://gettimestamp.glitch.me/1450137600">https://gettimestamp.glitch.me/1450137600</a></li>
        </ul>

        

<h3>response: </h3>

<h4>if VALID:  
        </h4> {unix: unix in seconds , natural: Month day, year}

<h4>
  else:
        </h4> {unix: null , natural: null}

<h4>example:</h4> { "unix": 1450137600, "natural": "December 15, 2015" }
      </div>
   </body>

</html>
